# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives: <br> List popular languages  for data science <br> List popular Libraries for data science <br> Table with open source tools <br> Examples of arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are: <br> 1. Python <br> 2. SQL <br> 3. R

### Some of the commonly used libraries used by Data Scientists include: <br> 1. Pandas <br> 2. Numpy <br> 3. Tensorflow <br> 4. ggplot <br> 5. Lattice

|Data Science Tools|
|------------------|
|MySQL|
|Apache AirFlow|
| Kibana|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [5]:
minutes=200
hours =minutes/60
print(hours)
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author: <br> Szymon Janur